#content {
    text-align: center;
    color: aliceblue;
    margin-top: 10;
}

.img {
    height: 981px;
    background: url('images/tech20.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}