<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static.css') }}">

    {% if title %}
        <title>BTECH - {{ title }}</title>
    {% else %}
        <title>BTECH</title>
    {% endif %}
</head>
<body>
  <header>
    <div class="img">
      <div class="justify-left mt-20" id="content">
      <h1> University Of Nairobi</h1>
      <h1> Chiromo Campus </h1>
      </div>
      <h2 class="justify-center mr-auto ml-auto">MICROPROCESSOR TECHNOLOGY & INSTRUMENTATION</h2>
      <main class="container">
      <div class="col-3 mr-auto ml-auto">
        <div class="card" id="glass" style="width: 18rem;">
          <div class="card-body">
               <a class="btn btn-outline-secondary font-weight-bold" href="{{ url_for('homepage') }}">Home</a>
               <a class="btn btn-outline-secondary font-weight-bold" href="{{ url_for('login') }}">Sign In</a>
               <a class="btn btn-outline-secondary font-weight-bold" href="{{ url_for('register') }}">Sign Up</a>
          </div>
        </div>
      </div>
      </main>
      
    </div>
  </header>
 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>